* {
    box-sizing: border-box;
}


.container {
    width: 600px;
    height: 500px;
    border: 5px solid red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mainTitle {
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Domine', serif;
    border: 2px solid green;
}

.generationButton {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 100px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: white;
    color: green;
    font-weight: 700;
}

.generationButton:hover {
   color: white;
    background-color: green;
    transition-duration: .4s;
}


/*//////////////////////////////*/
.writeQuote {
    text-align: center;
    position: absolute;
    top: 200px;
}