* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.mainTitle {
    text-align: center;
    line-height: 100px;
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Domine', serif;
    display: block;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .mainTitle {
        font-size: 2.5vw;
    }
}

.generationButton {
    width: 25vw;
    height: 6vh;
    display: block;
    margin: auto;
    font-size: 3vw;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: white;
    color: green;
    font-weight: 700;
}

.generationButton:hover {
    color: white;
    background-color: green;
    transition-duration: .4s;
}

@media screen and (min-width: 756px) and (max-width: 1024px) {
    .generationButton {
        height: 8vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .generationButton {
        height: 9vh;
    }
}

@media screen and (min-width: 1200px) {
    .generationButton {
        width: 12vw;
        height: 8vh;
        font-size: 1.5vw;
    }
}

h1 {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Domine', serif;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 756px) and (max-width: 1024px) {
    h1 {
        font-size: 2.5vw;
        position: absolute;
        top: 225px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    h1 {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 1.5vw;
    }
}


input {
    width: 80%;
    height: 35px;
    border: 2px solid red;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

@media screen and (min-width: 550px) and (max-width: 750px) {
    input {
        position: absolute;
        top: 25%;
    }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
    input {
        position: absolute;
        top: 30%;
        height: 40px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    input {
        position: absolute;
        top: 35%;
        height: 50px;
    }
}

@media screen and (min-width: 1200px) {
    input {
        height: 55px;
    }
}

.addButton {
    width: 30vw;
    height: 6vh;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: white;
    color: green;
    font-weight: 700;
    font-size: 3vw;
    display: block;
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@media screen and (min-width: 550px) and (max-width: 750px) {
    .addButton {
        position: absolute;
        top: 50%;
    }
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
    .addButton {
        position: absolute;
        top: 65%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .addButton {
        height: 10vh;
        position: absolute;
        top: 70%;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .addButton {
        font-size: 1.5vw;
        width: 15vw;
        height: 9vh;
    }
}

.addButton:hover {
    color: white;
    background-color: green;
    transition-duration: .4s;
}

.additionalText {
    width: 90%;
    font-size: 4vw;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 75%;
    text-align: center;
    line-height: 150px;
    font-family: 'Domine', serif;
    display: block;
    margin: auto;
}

@media screen and (min-width: 751px) and (max-width: 1024px) {
    .additionalText {
        position: absolute;
        top: 85%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1199px) {
    .additionalText {
        position: absolute;
        top: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .additionalText {
        font-size: 2.5vw;
    }
}


